@charset "utf=8";
 
/* ------------------------------ */
/*         General Rules          */
/* ------------------------------ */
 
:root {
    --app-white: #fff;
    --app-dark-background: #292929;
    --app-blue-light: #3683ff;
    --app-blue: #0866ff;
    --app-light-gray: #e2e2e2;
    --app-dark-gray: #3d3d3d;
}
 
body {
    font-family: 'Poppins', 'Open Sans', sans-serif;
    background-color: var(--app-dark-background);
    overflow: auto;
}
 
.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}
 
.flexbox {
    display:flex;
    justify-content: space-between;
}
 
.center {
    text-align: center;
}
 
/* ------------------------------ */
/*             Header             */
/* ------------------------------ */
 
header {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 60px;
    background-color:var(--app-dark-gray);
    margin-bottom: 60px;
 
    .logo a {
        font-size: 25px;
        font-weight: 600;
        line-height: 60px;
        color: var(--app-blue);
        width: 200px;
    }
 
    nav {
        text-align: center;
    }
 
    li {
        display: inline;
        padding: 0 15px;
        line-height: 60px;
    }
 
    a {
        font-size: 16px;
        font-weight: 400;
        color: var(--app-white);
        text-decoration: none;
    }
   
    a:hover {
        color: var(--app-blue-light) ;
        transition: color 0.25s ease-in-out;
    }
 
    .subscribers {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 200px;
        height: 60px;
        line-height: 60px;
    }
}
 
.profile {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
    background: url('../img/profile-photo.jpg') center/cover;
}
 
/* ------------------------------ */
/*             Form               */
/* ------------------------------ */
 
.form-post {
    background-color: var(--app-dark-gray);
    display: inline-block;
    width: 650px;
    padding: 15px;
    border-radius: 5px;
 
   .input {
    background-color:var(--app-dark-gray);
    color: var(--app-white);
    width: 615px;
    height: 150px;
    font-size:16px;
    font-weight: 500;
    text-align: left;
    resize: none;
    }
 
    .input::placeholder {
        color: var(--app-light-gray);
    }
 
    .upload-post {
        width: 100%;
        height: 45px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
 
    .upload-post-image {
        display: flex;
        height: 30px;
        font-size: 15px;
        line-height: 30px;
        color: var(--app-white);
        gap: 15px;
 
        .upload-post-btn i {
            display: inline-block;
            width: 30px;
            height: 30px;
            font-size: 30px;
            line-height: 30px;
            color: var(--app-white);
            text-decoration: none;
            cursor: pointer;
        }
       
        .upload-post-btn:hover i{
            color: var(--app-blue-light);
            transition: color 0.2s ease-in-out;
        }
    }
 
    .post-btn {
        background-color: var(--app-blue);
        color: var(--app-white);
        display: flex;
        height: 35px;
        width: 70px;
        font-size: 15px;
        font-weight: 600;
        border-radius: 5px;
        padding: 7px 0 0 18px ;
        cursor: pointer;
    }
   
    .post-btn:hover {
        background-color: var(--app-blue-light);
        transition: all 0.25s ease-in-out;
    }
}
 
/* ------------------------------ */
/*             Post               */
/* ------------------------------ */
 
.all-posts .post-container {
    display: none;
}
 
.post-container {
    width: 650px;
    text-align: left;
    background-color: var(--app-white);
    border-radius: 5px;
    padding: 15px;
    margin-top: 15px;
   
    .post-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 45px;
        line-height: 45px;
        margin-bottom: 15px;
 
        .profile-container {
            display: flex;
            gap: 15px;
       
            .user-name p {
                font-size: 16px;
                font-weight: 600;
                color: var(--app-dark-gray);
            }
        }
 
        .date p {
            font-size: 15px;
            font-weight: 400;
            color: var(--app-dark-gray);
        }
    }
 
    .post-text p{
        font-size: 20px;
        font-weight: 500;
        color: var(--app-dark-gray);
        margin: 5px;
    }

    .post-img {
        width: 100%;
        height: 615px;
        border-radius: 5px;
        background-size: cover;
        background-repeat: no-repeat;
    }    
}
 
/* ------------------------------ */
/*           Modal Window         */
/* ------------------------------ */
 
.modal-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
 
    .modal {
        width: 400px;
        border-radius: 5px;
        background: var(--app-white);
        padding: 20px;
        margin: 0;
   
        h1 {
            font-size: 30px;
            font-weight: 600;
            color: var(--app-dark-gray);
        }
 
        p {
            text-align: left;
            font-size: 17px;
            font-weight: 400;
            color: var(--app-dark-gray);
        }
 
        .profile-modal {
            align-self: center;
            margin: auto;
            width: 250px;
            height: 250px;
            border-radius: 50%;
            background: url('../img/profile-photo.jpg') center/cover;  
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}